src/com/notjuststudio/engine2dgame/xml/spr/spr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sprite" type="Sprite"/>
  <xs:complexType name="Sprite">
    <xs:sequence>
      <xs:element type="xs:int" name="x_offset" default="0"/>
      <xs:element type="xs:int" name="y_offset" default="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="source"/>
    <xs:attribute type="xs:boolean" name="accurateCollusionCheck" default="false"/>
  </xs:complexType>
</xs:schema>